body{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

header{
    font-weight: bold;
    overflow: hidden;
}

.head{
    float: left;
    margin-left: 2%;
    letter-spacing: 2px;
    font-family: cursive;
    color: chocolate;
    font-style: 1.3rem;
}

nav{
    float: right;
    margin-top: 1%;
    margin-right: 2%;
}

li{
    display: inline;
    padding: 1rem;
}

li a{
    text-decoration: none;
    color: #000;
}

.gold{
    color: gold;
}

.container{
    text-align: center;
    background: #225470 url(bg.jpg);
    height: 85.5vh;
    width: 100%;
    position: relative;
}

.overlay{
    width: 100%;
    height: 100%;
    background: #225470;
    opacity: 0.58;
    position: absolute;
}

.main{
   margin-top: 10%; 
   font-size: 2rem;
   color: #fff;
   z-index: 1; 
}

h1{
    font-style: 3rem;
    color:#fff;
    z-index: 1;
}

.para{
    color: #fff;
    font-size: 1.5rem;
    z-index: 1;
    font-family: cursive;
}

.btn1{
    background-color: #fff;
    padding: 0.7rem 1rem;
    border:none;
    border-radius: 5px;
    margin-top: 2%;
    z-index: 1;
}

.btn2{
    background-color: green;
    color: #fff;
    padding: 0.7rem 1rem;
    border:none;
    border-radius: 5px;
    margin-left: 3%;
    z-index: 2;
}

